.cadastro-pet-container {
  background-color: #f8bbbb; 
  width: 400px; 
  margin: 0 auto; 
  padding: 20px; 
  border-radius: 8px; 
}

.cadastro-pet-container h2 {
  text-align: center; 
}

.cadastro-pet-container input {
  width: 90%; 
  padding: 10px; 
  margin-bottom: 15px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

.cadastro-pet-btn {
  width: 95%; 
  padding: 10px; 
  border: none; 
  border-radius: 4px; 
  background-color: #333; 
  color: black; 
  cursor: pointer; 
  background-color:  rgb(232, 240, 254) !important; 
}

