.cadastro-container {
  background-color: #f8bbbb; 
  width: 400px; 
  margin: 0 auto; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.cadastro-container h2 {
  text-align: center; 
}

.cadastro-container input {
  width: 90%; 
  padding: 10px; 
  margin-bottom: 15px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

.cadastro-btn {
  width: 100%; 
  padding: 10px; 
  border: none; 
  border-radius: 4px; 
  background-color: #333; 
  color: black; 
  cursor: pointer; 
  background-color:  rgb(232, 240, 254) !important; 
}
