
body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0; 
  background-color: #f0f0f0; 
}

.login-container {
  background-color: #f8bbbb; 
  width: 400px; 
  margin: 50px auto; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.input-field {
  width: 90%; 
  padding: 10px; 
  margin-bottom: 15px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

.checkbox {
  margin-bottom: 15px; 
}

.button {
  width: 95%; 
  padding: 10px; 
  border: 5px; 
  border-radius: 4px; 
  margin-bottom: 10px; 
  cursor: pointer; 
}

.button-entrar {
  background-color:  rgb(232, 240, 254) !important; 
  border: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }



.cadastro-text {
  text-align: center; 
  margin-top: 20px; 
}

h2 {
  text-align: center; 
}

