/* Arquivo ProdutoSelecionado.css */
.produto-selecionado-container {
  display: flex;
  font-family: 'Arial', sans-serif;
}

.menu-lateral {
  flex-basis: 200px; /* Largura fixa do menu lateral */
  border-right: 1px solid #ccc;
  padding: 10px;
}

.menu-lateral h3 {
  margin-bottom: 20px;
}

.menu-lateral ul {
  list-style-type: none;
  padding: 0;
}

.menu-lateral li {
  margin-bottom: 8px;
  cursor: pointer;
}

/* ... estilos anteriores */

/* Arquivo ProdutoSelecionado.css */
.produto-selecionado-container {
  display: flex;
  font-family: 'Arial', sans-serif;
}

.menu-lateral {
  flex-basis: 200px; /* Largura fixa do menu lateral */
  border-right: 1px solid #ccc;
  padding: 10px;
}

.menu-lateral h3 {
  margin-bottom: 20px;
}

.menu-lateral ul {
  list-style-type: none;
  padding: 0;
}

.menu-lateral li {
  margin-bottom: 8px;
  cursor: pointer;
}

.produtos {
  flex-grow: 1; /* Ocupa o espaço restante */
  padding: 20px;
  display: flex;
  flex-direction: column; /* Organiza os produtos em coluna */
}

.produto {
  display: flex;
  align-items: center; /* Alinha os itens no centro verticalmente */
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.produto img {
  width: 100px; /* Ajuste conforme necessário */
  height: auto;
  border-radius: 5px;
  margin-right: 10px;
}

.produto-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha as informações do produto à esquerda */
  flex-grow: 1; /* Permite que o contêiner das informações cresça */
}

.produto-nome, .produto-descricao, .produto-preco {
  margin-bottom: 5px; /* Espaçamento entre os elementos */
}

.produto-acoes {
  display: flex;
  align-items: center;
}

.produto-acoes button {
  border: none;
  background-color: #eee; /* Fundo cinza claro para os botões */
  padding: 5px 10px; /* Padding interno dos botões */
  margin: 0 5px; /* Espaço entre os botões e o número */
}

.shopping-cart {
  cursor: pointer;
}