.produto-selecionado-container {
  display: flex;
  font-family: 'Arial', sans-serif;
}

.menu-lateral {
  flex-basis: 200px; 
  border-right: 1px solid #ccc;
  padding: 10px;
}

.menu-lateral h3 {
  margin-bottom: 20px;
}

.menu-lateral ul {
  list-style-type: none;
  padding: 0;
}

.menu-lateral li {
  margin-bottom: 8px;
  cursor: pointer;
}


.produto-selecionado-container {
  display: flex;
  font-family: 'Arial', sans-serif;
}

.menu-lateral {
  flex-basis: 200px; 
  border-right: 1px solid #ccc;
  padding: 10px;
}

.menu-lateral h3 {
  margin-bottom: 20px;
}

.menu-lateral ul {
  list-style-type: none;
  padding: 0;
}

.menu-lateral li {
  margin-bottom: 8px;
  cursor: pointer;
}

.produtos {
  flex-grow: 1; 
  padding: 20px;
  display: flex;
  flex-direction: column; 
}

.produto {
  display: flex;
  align-items: center; 
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.produto img {
  width: 100px; 
  height: auto;
  border-radius: 5px;
  margin-right: 10px;
}

.produto-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  flex-grow: 1; 
}

.produto-nome, .produto-descricao, .produto-preco {
  margin-bottom: 5px; 
}

.produto-acoes {
  display: flex;
  align-items: center;
}

.produto-acoes button {
  border: none;
  background-color: #eee; 
  padding: 5px 10px;
  margin: 0 5px; 
}

.shopping-cart {
  cursor: pointer;
}