.tela-inicial {
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.search-bar input {
  padding: 5px;
  margin-right: 5px;
}

.search-bar button {
  padding: 5px;
  cursor: pointer;
  background-color: #f8bbbb;
}

.shopping-cart {
  display: flex;
  align-items: center;
}

.cart-count {
  background-color: #f8bbbb;
  color: black;
  border-radius: 50%;
  padding: 2px 6px;
  margin-left: 5px;
}

.featured {
  text-align: center;
  padding: 2px 6px;
  margin-left: 20%;
  width: 55%;
  display: inline-block;
}


.categories {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.category {
  text-align: center;
}

h1 {
  text-align: center; /* Centraliza o texto horizontalmente */
}

footer {
  background-color: #333; /* Cor de fundo */
  color: white; /* Cor do texto */
  text-align: center; /* Centraliza o conteúdo */
  padding: 10px 0; /* Espaço interno */
  width: 100%; /* Largura total */
}

footer a {
  color: #fff; /* Cor do link */
  padding: 0 10px; /* Espaço entre os links */
}

@media (max-width: 600px) {
  footer {
    text-align: center; /* Centraliza o conteúdo para telas pequenas */
  }
}